{% extends 'base.html.twig' %}

{% block body %}
    <div align="center">
        <p>*If product and category are empty the promotion is global.</p>
        <div style="width: 300px;">
            <h1>Promotion creation</h1>

            {{ form_start(form) }}
            {{ form_widget(form) }}
            <input type="submit" value="Create"/>
            {{ form_end(form) }}

            <a href="{{ path('admin_promotion_index') }}">Back to the list</a>
        </div>
    </div>
{% endblock %}
