{% extends '::base.html.twig' %}
{% block title %}Categories{% endblock %}
{% block body %}
    <div align="center" class="well">
        {% for category in productCategories %}
            <button type="button" class="btn btn-default">
                <a href="{{ path('mix_s_category_display', {catId: category.id}) }}">
                    <h4>{{ category.name }}</h4>
                </a>
            </button>
        {% endfor %}
    </div>
{% endblock %}
